.link-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  color: red;
  margin-bottom: 10px;
  /* min-height: 22px; */
}

.error-label {
  color: red !important;
}

.btn {
  min-width: 88px;
}

.user-email {
  margin-left: 5px;
  font-weight: 700;
}

.spinner-div {
  padding: 0 15px;
  background: #ee6e73;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
